@import "swiper/css/bundle";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.ttf');
    font-weight: 700;
}

@layer components {
    .bg-footer1 {
        @apply bg-gray-700; 
    }

    .bg-footer2 {
        @apply bg-[#37474F];
    }
    
    .bg-purple-gradient-to-bottom {
        background: rgb(127,86,217);
        background: linear-gradient(176deg, rgba(127,86,217,1) 0%, rgba(177,80,192,1) 100%);
    }

    .bg-purple-gradient-to-right {
        background: rgb(127,86,217);
        background: linear-gradient(90deg, rgba(127,86,217,1) 0%, rgba(177,80,192,1) 100%); 
    }
    
    .status-pending {
        @apply border text-center border-purple-600 text-purple-600 bg-purple-100 rounded-md w-24;
    }

    .status-verified {
        @apply border text-center border-green-500 text-green-500 bg-green-100 rounded-md w-24;
    }

    .status-rejected, .status-deactivated {
        @apply border text-center border-red-500 text-red-500 bg-red-100 rounded-md w-24;
    }

    .max-width-control {
        @apply max-w-[99rem];
    }

    .bg-pink-gradient-to-right {
        background: rgb(255,61,143);
        background: linear-gradient(90deg, rgba(255,61,143,1) 0%, rgba(255,138,187,1) 100%);
    }   

    .bg-repay-pink-500 {
        background: #FF3D8F;
    }
    
    .bg-repay-pink-600 {
        background: #F70068;
    }
    
    .bg-repay-pink-700 {
        background: #9E0043;
    }

    .status-paid, .status-received, .status-resolved {
        @apply border border-green-600 bg-green-200 text-green-600 rounded-md text-center w-20;
    }

    .status-unpaid, .status-to_ship, .ship-to-receive, .status-pending-approval, .status-dispute-pending {
        @apply border border-gray-600 bg-gray-200 text-gray-600 rounded-md text-center p-1.5 text-sm;
    }
    

    .status-partial, .status-return_in_progress, .status-dispute_in_progress {
       @apply border border-yellow-600 bg-yellow-200 text-yellow-600 rounded-md text-center w-20;
    }

    .service-booking-status-pending {
        @apply border border-rp-yellow-600 bg-rp-yellow-200 text-rp-yellow-600 rounded-md text-center w-20;
    }
    
    .status-cancelled, .status-overdue, .status-rejected {
        @apply border border-red-600 bg-red-200 text-red-600 rounded-md text-center;
    }
    
    .status-cancelled, .status-overdue, .status-rejected {
        @apply w-20;
    }

    .dispute-status-pending {
        @apply border border-rp-neutral-600 bg-rp-neutral-200 text-rp-neutral-600 rounded-md text-center w-20
    }

    .logistics-status-unassigned, .logistics-status-cancelled, .logistics-status-expired, .logistics-status-rejected {
        @apply border border-primary-600 bg-primary-200 text-primary-600 rounded-[5px] px-2 py-1 w-max text-sm;
    }

    .logistics-status-ongoing {
        @apply border border-rp-yellow-600 bg-rp-yellow-200 text-rp-yellow-600 rounded-[5px] px-2 py-1 w-max text-sm;
    }

    .logistics-status-picked-up {
        @apply border border-[#1C7EBF] bg-[#ADDCFF] text-[#1C7EBF] rounded-[5px] px-2 py-1 w-max text-sm;
    }

    .logistics-status-completed {
        @apply border border-rp-green-600 bg-rp-green-200 text-rp-green-600 rounded-[5px] px-2 py-1 w-max text-sm;
    }
}

html {
    color: #647887
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

[x-cloak] { display: none !important; }


.repay-bg-primary {
    background-color: #FF3D8F;
}
.repay-text-primary {
    color: #FF3D8F;
}

.swiper-repay-features .swiper-button-prev, .swiper-button-next {
    /* color: red !important;    */
    /* font-size: 10px I !important; */
    --swiper-navigation-size: 1.25rem;
}



.swiper .swiper-pagination .swiper-pagination-bullet-active {
    background-color: rgb(147 51 234 / 100);
}

.operating-days-button-prev.swiper-button-disabled, .operating-days-button-next.swiper-button-disabled {
    opacity: 50%;
    cursor: default;
}

.swiper-button-products-services-pictures-prev.swiper-button-disabled, .swiper-button-products-services-pictures-next.swiper-button-disabled {
    opacity: 50%;
    cursor: default;
}

.swiper-button-previous-works-next.swiper-button-disabled, .swiper-button-previous-works-prev.swiper-button-disabled {
    opacity: 50%;
    cursor: default;
}

input.range-sele
ctor[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 24px;
    height: 24px;
    -webkit-appearance: none;
}

.white-rays-background {
    background-image: url('/public/images/guest/white-rays-background.png');
}

.hero-bg {
    background-image: url('/public/images/guest/hero-bg.png');
}

.features-explore-background {
    background-image: url('/public/images/guest/features-explore-background.svg')
}

.payments-hero {
    background-image: url('/public/images/guest/payments-hero.svg');
}

.assets-hero {
    background-image: url('/public/images/guest/assets-hero.svg');
}

.yolo-hero {
    background-image: url('/public/images/guest/yolo-hero.svg');
}

.holding-shopping-bag {
    background-image: url('/public/images/guest/auth/holding-shopping-bag.png');
}